[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dendsort"]
	path = dendsort
	url = https://github.com/evanbiederstedt/dendsort
	shallow = true
	registered = true
[submodule "edlibR"]
	path = edlibR
	url = https://github.com/evanbiederstedt/edlibr
	shallow = true
	registered = true
[submodule "gapmap"]
	path = gapmap
	url = https://github.com/evanbiederstedt/gapmap
	shallow = true
	registered = true
[submodule "RMTstat"]
	path = RMTstat
	url = https://github.com/evanbiederstedt/rmtstat
	shallow = true
	registered = true
[submodule "Rook"]
	path = Rook
	url = https://github.com/evanbiederstedt/rook
	shallow = true
	registered = true
