[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dendsort"]
	path = dendsort
	url = https://github.com/evanbiederstedt/dendsort
[submodule "edlibR"]
	path = edlibR
	url = https://github.com/evanbiederstedt/edlibr
[submodule "gapmap"]
	path = gapmap
	url = https://github.com/evanbiederstedt/gapmap
[submodule "RMTstat"]
	path = RMTstat
	url = https://github.com/evanbiederstedt/rmtstat
[submodule "Rook"]
	path = Rook
	url = https://github.com/evanbiederstedt/rook
